

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"slnt" 0;
  color: rgb(228, 228, 228);
}
body{
  /* background-image: url(https://images.pexels.com/photos/18875847/pexels-photo-18875847/free-photo-of-white-parabolic-dish-antennae-in-a-green-field-in-germany.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2); */
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(0, 0, 0); */
    background: linear-gradient(150deg,  #5b837e, rgb(0, 11, 14) 40%);
  width: 100vw;
  overflow-x: hidden;
  /* height: 100vh; */
}

.vid{
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  box-shadow: #000000 0px 0px 20px 20px;
  opacity: 10%;
}
.vid video{
  /* width: 100%; */
  height: 111.5%;
}
.vid-cover{
    position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  display: none;
}
header{
  /* background-color: #890d0d; */
  width: 100vw;
  height: 70px;
  padding: 0px 1vw 0px 1vw;
  display: flex;
  align-items: center;
  justify-content: start;
  position: fixed;
  top: 0vh;
  left: 0vw;
  z-index: 9;
}
.h2{
    font-family: "Playwrite IN", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  /* font-size: 30px; */
  /* position: absolute;
  top: 35px;
  left: 35px; */
}
.aa{
  border: rgba(0, 136, 255, 0) solid 3.5px;
  border-bottom: #00bbaf solid 3.5px;
  border-radius: 100px;
  color: #00d2c4;
}

.welcome{
  width: 0vw;
  overflow-x: hidden;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.549); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
  transition: 5s;
  opacity: 0;
}

.apps{
  /* background-color: #00000067; */
  width: 550px;
  min-width: 400px;
  height: 400px;
  /* border-radius: 30px; */
  /* border: #00d0ff double 10px; */
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  overflow: hidden;
}
.apps .title{
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: #ffffff00 solid 5px;
  border-bottom: #ffffff67 solid 5px;
  /* border-radius: 100px; */
}
.apps .title hr{
  border: none;
  background-color: #ffffff67;
  width: 80px;
  height: 7px;
  border-radius: 3px;
}














.app{
  width: 80px;
  height: 90px;
  background: linear-gradient(to top , rgba(255, 50, 50, 0.723) , rgba(255, 0, 0, 0) 70%);
  border: #ffffff00 solid 0px;
  border-bottom: #ffffff solid 3px;
  border-top: #000000 solid 3px;
  border-radius: 10px 10px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}
.app-back{
  width: 100%;
  height: 75%;
  background-image: url(https://cdn-icons-png.flaticon.com/128/9555/9555155.png);
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_gSLb085-DhBE1M0h7IGCdQ89vbFJ1uGuFQ&s); */
  background-position: center;
  background-size: 60%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.app-text{
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  /* padding-top: 4px; */
}
.apps-div{
  display: flex;
  align-items: start;
  justify-content: start;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 5px;
  background-color: #00000067;
  width: 100%;
  height: 85%;
  padding: 20px;
    border: #00d0ff solid 4px;
    border-radius: 20px;
    position: relative;
}
@media (max-width:1100px) {
  .apps-div{
    padding: 10px;
  }
}

#ab-1{
  background-image: url(https://cdn-icons-png.flaticon.com/128/15916/15916610.png);
}
#ab-2{
  /* background-image: url(https://static1.xdaimages.com/wordpress/wp-content/uploads/2020/01/play-store-updates.jpg); */
  /* background-size: 140%; */
  background-image: url(https://cdn-icons-png.flaticon.com/128/5996/5996260.png);
}

#ab-3{
  background-image: url(https://cdn-icons-png.flaticon.com/128/726/726623.png);
  /* background-image: url(https://img.freepik.com/free-psd/phone-icon-design_23-2151311652.jpg?semt=ais_hybrid&w=740); */
  background-size: 50%;
}

#ab-4{
  background-image: url(https://cdn-icons-png.flaticon.com/128/10238/10238788.png);
  /* background-image: url(https://img.freepik.com/free-psd/phone-icon-design_23-2151311652.jpg?semt=ais_hybrid&w=740); */
  background-size: 50%;
}












.ad{
  /* background-color: #0e0e0e; */
  background: linear-gradient(to right , rgb(0, 51, 48) , rgba(255, 0, 0, 0));
  /* box-shadow: #ffffff 0px 0px 2px 2px; */
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 20px;
  padding: 10px 0px 10px 0px;
}
.info-card-line{
  /* background-color: #ff000067; */
  width: 50px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.info-card-line hr{
  width: 10px;
  height: 30px;
  background-color: #00bbaf;
  border: none;
}
.icl{
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;
  /* background-color: #00bbaf; */
  /* width: 100%; */
}

#ci-1{
  display: block;
  font-size: 25px;
  margin-top: 5vh;
}
#ci-2{
  display: none;
}